<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Create a new test</h1>
</div>
<div class="wrapper-md">
	<div ng-controller="AddTestCtrl">
    	<div class="row">
    		<div class="col-sm-12">
		        <form name="AddTestForm" class="form-validation">
		          <div class="panel panel-default">
		            <div class="panel-heading">
		              <span class="h4">New Test</span>
		            </div>
		            <div class="panel-body">
		              <div class="form-group">
		                <input type="text" class="form-control" ng-model="test.title" placeholder="Test Name" ng-required="true" >
		              </div>
		              <div class="form-group">
		                <input type="text" class="form-control" placeholder="Test ID" ng-model="test.test_id" >
		              </div>
		              <div class="form-group">
			            <textarea class="form-control" rows="6" placeholder="Descriptive Text" ng-model="test.description"></textarea>
			          </div>
		            <footer class="panel-footer text-right bg-light lter">
		              <button type="submit" class="btn btn-primary" ng-disabled="AddTestForm.$invalid" ng-click="submitValues()">Save</button>
		              <!-- <a href="" class="btn btn-default">Delete</a> -->
		            </footer>
		          </div>
		        </form>
		    </div>
    	</div>

    	<div class="row">
    		<div class="col-sm-12">    			   			
    			<!-- <form name="questionForm" class="form-validation">
    				<div ng-show="addquestion" class="col-sm-12">
			        	<legend>Question 1</legend>
			            <div class="list-group list-group-sm">
			              <div class="list-group-item">
			                <input type="text" placeholder="Question Title" class="form-control" ng-model="question.title" required>
			              </div>
			              <div class="list-group-item">
			                <textarea placeholder="Question Text" class="form-control" ng-model="question.text" required></textarea>
			              </div>
			              <div class="list-group-item">
			              	<label>Alternative answers</label>
			              </div>
			              <div class="list-group-item wrapper-md">
			              	<div class='padder-v' ng-hide="removechoice0" removechoice0="false" ng-repeat="answers_attr in answers">
				              	<input type="text" placeholder="Alternative " class="form-control w-xxxl app-aside m-r" ng-model="answers_attr.description" required />	
				              	<input type="radio" name="correct" id="optionsRadios0" ng-model="answers_attr.correct" ng-value="1" ng-click="getSelectans($index)">
	                			Correct Answer
	                			<a href="" ng-click="removechoice0 = !removechoice0" id="del0" class="default m-l"  >Remove</a><br> 
                			</div>
                			<a href='' ng-click="addAlternatives()" >Add Alternative</a>                			
			              </div>			              	              
			              <input type="button" class="btn btn-default btn-primary pull-right m-t" ng-click="saveQuestion()" value="Save Question" />			              
			            </div> 
			        </div>     
		        </form> -->
		        <div id="space-for-buttons"></div>						    
				<addbuttonsbutton></addbuttonsbutton>
		       <!--  <input type="button" class="btn btn-default btn-primary m-l" ng-click="addquestion = true" value="Add Question" />  -->

    		</div>
    	</div>
    </div>
</div>